/dist
.env
.DS_Store
/uploads
/node_modules
node_modules/
yarn-error.log
.env.production
.env.test
.env.template


.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patchesJWT_SECRET=+8nvV2VY1BHMeFmtGYphFsoPwFxN8PYKCPIvJMMHT2Y=
COOKIE_SECRET=rzOCOMJzaSaDJHvYBhS3CVREp735b13WVEz+j9s6ftc=
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa